.DS_Store
*.swp
*.out

components/simulator/build/

components/device/build/
components/device/sdkconfig
components/device/sdkconfig.old

components/trainer/.venv/
components/trainer/__pycache__/
components/trainer/data/*.wav
components/trainer/*.pt
components/trainer/*.pth

.vscode/
.idea/